@{
    ViewBag.Title = "Contact";
}

<br />
<br />
<address>
    Douglas Duarte<br />
    Rua Waldomiro Batista de Araujo 947, Londrina-PR<br />
    <abbr title="Phone">Telefone:</abbr>
    (43) 3338-4126 <br />
    <abbr title="Phone">Celular:</abbr>
    (43) 98454-9610

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:douglasduartemedeiros@hotmail.com">douglasduartemedeiros@hotmail.com</a><br />
</address>