@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FeedBack</h1>
    <p class="lead">Muito Obrigado por nós enviar seu FeedBack.</p>
    
</div>

<script>
    var teste = "Você está na tela Home";
    alert(teste);
</script>